body {
  background: url("images/grass4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bothgroups {
  margin-top: 20px;
}

#maintitle{
  margin-top: 8vh;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 4.5em;
  text-align: center;
}

#singlecard {
  margin-bottom: 15px;
}

.avatar{
  height: 170px;
  width: 250px;
  text-align: center;
  padding-top: 20px;
}

#cardlist {
  width: 250px;
  text-align: center;

}

.card-title {
  margin-top: 15px;
  margin-bottom: 20px;
}