body {
  /* background: url("images/grass4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.navbar{
  background-color: #f8b65a;
}
.container {
  cursor: default;
}
.bothgroups {
  margin-top: 20px;
}


#maintitle{
  margin-top: 6vh;
  color: #55ac55;
  font-family: "Pacifico", cursive;
  font-size: 4.5em;
  text-align: center;
  
  
}

#singlecard {
  margin-bottom: 15px;
  margin-top: 15px;
}

.avatar{
  height: 170px;
  width: 250px;
  text-align: center;
  padding-top: 20px;
}

#cardlist {
  width: 250px;
  text-align: center;

}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.teambuttons{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
  /* background-color: white; */
}

.placeholder {
  text-align: center;
  height: 170px;
  width: 250px;
  padding-top: 20px;
}

.vl{
  border-left: 2px solid #5cb85c;
  height: 50px;
}