body {
  /* background: url("images/grass4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: black;
}

/* .navbar-custom .navbar-brand{
  color: white;
 
} */
.navbar{
  background-color: black;
  border-bottom: 3px solid #d9534f;
}
.container {
  cursor: default;
  background-color: black;
  margin-top: 12vh;
}


#title {
  margin-bottom: 25px;
  border-bottom-color: #d9534f;
  border-bottom-style: solid;
  padding-bottom: 10px;
  color:white;
  font-size: 35px;
  /* text-align: center; */
}

#addplayer {
  text-align: center;
  color:white;
  font-size: 30px;
}

#roster-form {
  text-align: center;
}
input {
  border: none;
}
input[type="text"] {
  background-color:white;
  color: black;
  /* width: 150px; */
}


#numplayers {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}

#player-count {
  color: white;
}

#roster-list {
  font-size: 25px;
  list-style: none;
  /* padding-inline-start: 2px; */
  color: white;
  font-weight: bolder;
  /* text-align: center; */
}

#whitebreak {
  border: 10px solid #5cb85c;
  width: 100%;
}

#randomteams {
  /* margin-left: 20px;
    margin-right: 20px; */
  color:white;
  background-color: #d9534f;
  border: 2px solid white;
}
#randomteams:hover {
  background-color: white;
  color: black;
  border: 2.5px solid #d9534f;
}
.zenter {
  text-align: center;
  color:white;
  /* font-size: 30px; */
}

#team1 {
  /* margin-top: 15px; */
}

#team2 {
  margin-top: 15px;
}
#freeagent {
  /* margin-top: 10px; */
}

ol {
  list-style: none;
  font-size: larger;
  color:white;
  font-size: 25px;
  font-weight: bolder;
  /* text-align: center; */
  /* padding-inline-start: 20px; */
 
}

#loneplayer {
  /* text-align: center; */
}
#playerview {
  margin-bottom: 5em;
  
  color: white;
  border: 2px solid white;

}
#playerview:hover {
  background-color: white;
  color: black;
  border: 2.5px solid #f0ad4e
}

/* 
#teamone-list {
  color: white;
}
#teamtwo-list {
  color: white;
} */
.borderres{
  border: 3px solid  #d9534f;
}