body {
  /* background: url("images/grass4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.navbar-custom .navbar-brand{
  color: #5cb85c;
}
.container {
  cursor: default;
}
#maintitle {
  margin-top: 6vh;
  color:#5cb85c;
  font-family: "Pacifico", cursive;
  font-size: 4.5em;
  text-align: center;
}

.instructions {
    margin-top: 4vh;
    background-color: white;
    /* text-align: center; */
    width: 85%;
    /* height: 50%; */
}
.manager{
    margin-top:2vh;
}
.start{
    margin-top: 1vh;
    margin-bottom: 4vh;
    /* font-size: larger;
    width: 8em;
    height: 2em; */
}
.begin{
    margin-top: 2vh;
}