body {
  background: url("images/grass4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#maintitle {
  margin-top: 6vh;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 4.5em;
  text-align: center;
}

.instructions {
    margin-top: 4vh;
    background-color: white;
    /* text-align: center; */
    width: 85%;
    /* height: 50%; */
}
.manager{
    margin-top:2vh;
}
.start{
    border: none;
    margin-bottom: 4vh;
    font-size: larger;
}
.begin{
    margin-top: 2vh;
}